<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943562390616-2ovg77i6vdqpi353mt1gekf86imqns7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943562390616-2ovg77i6vdqpi353mt1gekf86imqns7e</string>
	<key>API_KEY</key>
	<string>AIzaSyDnihkrOT-4MhkzePX42elE9o8s-sGsU_M</string>
	<key>GCM_SENDER_ID</key>
	<string>943562390616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinisilvag.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rocket-help-f1664</string>
	<key>STORAGE_BUCKET</key>
	<string>rocket-help-f1664.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943562390616:ios:ebb24dbf522da84dcede2d</string>
</dict>
</plist>